<div class="menu-container">
  <div class="row">
    <div>
              <div class="col-3">
               <div data-controller="search-products">
      <%= form_with url: products_path, method: :get, html: {class:
        "mb-4", data: {search_target: "form"}} do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Type menu",
                     value: params[:query],
                     data: {search_target: "input"} %>
                <%= select_tag "filter", options_for_select(['Select Filter', 'Dairy Free', 'Gluten Free', 'Kosher', 'Peanut Free', 'Vegan', 'Vegetarian']), class:'custom-select' %>
              </div>
                <div class="col-1">
                  <%= submit_tag "Search",class:'btn btn-dark', id:'search_submit' %>
                </div>
          </div>
<% end %>

    </div>
  </div>
      <div id="menu-products-container">
        <%= render 'menus/products' %>
      </div>
</div>
<script>
    function clickSubmit() {
      $("search_submit").trigger("click");
    }
</script>
