<!DOCTYPE html>
<html>
  <head>
    <title>RailsRestaurantPortofolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body><%= render "layouts/navbar" %>
    <div class="<%= @page %> -page"></div>
      <div class="row page-container">
          <%= render 'layouts/links' %>
          <div class="col-8">
              <% unless @page == "home" %>
                  <%= render 'layout/title' %>
              <% end %>
            <%= yield %>
          </div>
          <div class="col-2"></div>
    </div>
  </body>
</html>
